/* --------------------------------------------------------------------------- */
/*|  -----------------------------------------------------------------------  |*/
/*| |                          Tabla De Contenidos                          | |*/
/*|  -----------------------------------------------------------------------  |*/
/* --------------------------------------------------------------------------- */
/*|  _ 1. Import, Root .....................................................  |*/
/*|  _ 1. Universal Selector, Body, H-Group, p ........................... 40 |*/
/*|  _ 2. Header, Nav ......................................................  |*/
/*|  _ 3. Main .............................................................  |*/
/*|     - 3.1 Clases Universales ...........................................  |*/
/*|     - 3.2 Home .........................................................  |*/
/*|     - 3.3 About ........................................................  |*/
/*|     - 3.4 Services .....................................................  |*/
/*|     - 3.5 Resume .......................................................  |*/
/*|     - 3.6 Contact ......................................................  |*/
/*|  _ 4. Footer ...........................................................  |*/
/*|  _ 5. Animaciones ......................................................  |*/
/*|  _ 6. Keyframes ........................................................  |*/
/*|  _ 7. Media Querys .....................................................  |*/
/* --------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------- */
/*                           Import, Root                                       */
/* ---------------------------------------------------------------------------- */
@import url();
:root{
--svgColor:#000000;
/* Paleta de Colores */
--Base:var(--b8);
--b1:#00ffff;
--b2:#00fe9c;
--b3:#adff2f;
--b4:#d6ed17;
--b5:#ff91fb;
--b6:#fdbb2e;
--b7:#eee8aa;
--b8:#f5df4e;
/* otros colores */
--Fondo-Medio:#F5F5F5;
--Fondo:#fff;
--Fondo-Oscuro:#939597;
}
/* ---------------------------------------------------------------------------- */
/*             Universal Selector, Body, H-Group, p                             */
/* ---------------------------------------------------------------------------- */
*{padding:0px;margin: 0px; border: 0px; }
body{width: 100%; background: var(--Color-Fondo);}
/* ///////// H-Group ///////// */
h1{ font-size: 1.8rem;font-weight:bold;}
h2{font-size: 1.8rem;}
h3{font-weight: 300;}
p{font-size: 1rem;}
a{text-decoration: none;color:#000000}

/* ---------------------------------------------------------------------------- */
/*             Universal Selector, Body, H-Group, p                             */
/* ---------------------------------------------------------------------------- */
header{
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid rgba(100, 100, 100,0.6) 2px;
}
nav>ul{
    display: flex;
    gap:1rem;
    list-style: none;
    font-size: 0.8rem;
    font-weight:bold;
}
nav .fa-solid, nav input{
    display: none;
}
.Redes{
    display: flex;
    gap: 1rem;
}
.Redes a:not(.arroba){
    font-size: 1.3rem;
}
.Redes a{
    width: 1.3rem;
    height: 1.3rem;
    text-align: center;
}
.Redes a:not(.arroba):hover{
    font-size: 1.3rem;
}
.Redes a:hover{
    color:var(--Color-Base);
    background: var(--svgColor);
    border-radius: 80%;
}
.arroba{
    font-size: 1rem;
    background: #000;
    border-radius: 80%;
    color: #fff;
    font-weight: 700;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
}
/* ---------------------------------------------------------------------------- */
/*                     Main                                                     */
/* ---------------------------------------------------------------------------- */
main{
    width: 100%;
}
section{
    padding: 80px 0 10px;
}

    /*////////////////////// Clases Universales //////////////////////*/
.Display{
    display: grid;
    width: 60%;
    min-width: 650px;
    max-width: 950px;
    margin: 0 auto;
    gap:10px;
}
.cabezera-seccion{
    text-align: center;
}
.Etiqueta{
    padding: 2px 10px;
    width: max-content;
    background: var(--Base);
}
/*               BACKGROUNDS            */
.BG-Base{background:var(--Base);}
.BG-Fondo{background: var(--Fondo);}
.BG-F-Medio{background: var(--Fondo-Medio);}
.BG-F-Oscuro{background: var(--Fondo-Oscuro);}
.BG-Negro{background: #000;}
/*             COLOR  TEXTO            */
.T-Blanco{color:var(--Fondo)}
.T-Base{color: var(--Color-Base);}
.T-CLaro{color: var(--Fondo-Oscuro);}

    /*//////////////////////       Home        //////////////////////*/
#Home>.Display{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 520px  20px;
}
         /* texto */
#Home .Text{
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Freelancer{
    font-weight: bold;
}
.Developer{
    font-size: 7rem;
    width:max-content;
    overflow:hidden;
    border-right:solid #222 0.4rem;
}
.pulsable{
    margin-top: 15px;
    display: flex;
    gap: 20px;
}
.pulsable div:first-child a{
    font-weight: bold;
    background: #000000;
    padding: 10px 15px;
}
.pulsable div:last-child a{
    text-decoration:underline;
}    /* fin de texto  */
#Home .Img{
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Home img{
    width:300px;
    height: 300px;
    border-radius: 100%;
    border: solid 10px #fff;
    object-fit: cover;
}
#Home .flecha{
    grid-area: 2/1/3/3;
    text-align: center;
}
    /*//////////////////////      About       //////////////////////*/
#About{
    min-height:350px;
}
#About>.Display{
    grid-template-columns: auto 25%;
    grid-template-rows: auto auto auto;
}
#About .cabezera-seccion{
    grid-area: 1/1/2/3;
}
.descripcion h3{
    margin-bottom: 10px;
}
.descripcion span{
    font-weight: 900;
    border-bottom: solid 2px var(--Color-Base);
    line-height: 1.5rem;
}

#About .experiencia{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
#About .experiencia>div{
    font-size:6.5rem ;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#About .experiencia p{
    font-size: 1.2rem;
    font-weight:lighter;
}
#About .experiencia span{
    font-weight: bold;
}
#About li{
    min-width: max-content;
}
#About .datos{
    grid-area: 3/1/4/3;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap:5px 2rem;
    margin-top: 15px;
}
.datos p{
    color:rgb(90 90 90);
    font-size: 90%;
}
    /*//////////////////////     Services      //////////////////////*/
#Services .Display{
    grid-template-rows: auto auto;
    gap: 20px;
    text-align: center;
}
#Services .service{
    list-style: none;
    display: grid;
    gap: 25PX;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);

}
#Services .service .fa-solid {
    font-size: 3rem;
    color: var(--Color-Base);
}
#Services .service h3{
    font-weight: 600;
}
#Services .service .descripcion{
    color:rgb(90 90 90);
    font-size: 10px;
}
    /*//////////////////////      Resume       //////////////////////*/
#Resume .Display{
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(4,auto);
   gap:20px;
}
#Resume .cabezera-seccion{
    grid-area: 1/1/2/3;
}
#Resume h3{
    padding-bottom: 10px;
    font-weight: 700;
} 
.My ul{
    border-left: solid var(--Color-Base) 2px;
    padding-left: 5px;
    list-style: none;
}
#Resume .My li{ 
    padding: 1rem 0;
    border-bottom: solid #d5d5d5 1px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 7px;
    text-align: justify;
}
#Resume .My li p{
    font-size: 10px;
    color: rgb(150 150 150);
}
#Resume .My-Skills{
    grid-column: 1/3;
}
#Resume .Skills{
    list-style: none;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:15px 5%;
}
#Resume .Skills li>div:first-child{
    display: flex;
    justify-content: space-between;
}
.skills{
    width: 100%;
    height: 5px;
    border-radius: 5px;
}
.skills-fondo{
    height: 5px;
    border-radius: 5px;
}
/* dominio de los skills */
.F1{width: 65%;}
.F2{width: 70%;}
.F3{width: 95%;}
.F4{width: 60%;}
.F5{width: 80%;}
.F6{width: 99%;}
.cv{
    grid-column: 1/3;
   text-align: center;
}
.cv a{
    margin: 0 auto;
    border: solid rgb(120 120 120) 2px;
    padding: 3px 5px;
}
    /*//////////////////////      FAQ       //////////////////////*/
#FAQ .Display{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content max-content;
}
#FAQ .cabezera-seccion{
    grid-column: 1/3;
}
#FAQ .question{
    list-style: none;
    grid-column: 1/2;
    min-height: 300PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#FAQ .question li{
    width: 100%;
    display: grid;
    gap: 4px;
    grid-template-columns: 1rem auto;
    grid-template-rows: auto min-content;
    border-bottom: solid #d5d5d5 1px;
}
#FAQ .fa-solid,#FAQ input{
    grid-column: 1/2;
    width: 0.8rem;
    height: 0.8rem;
    box-sizing: border-box;
}
#FAQ .question h4{
    grid-column:2/3;
    grid-row: 1/2;
}
#FAQ .question div{
    padding: 3PX 0 6PX;
    display: none;
}
#FAQ input{
    opacity:0;
}
#FAQ .fa-solid{
    pointer-events: none;
}
#FAQ input:checked~div{
    grid-column: 2/3;
    display: contents;
}
#FAQ input:checked~.fa-solid{
    rotate: 90deg;
}
footer{
    display: flex;
    gap: 1rem;
    padding: 2rem 0;
    justify-content: space-around;

}
footer>div{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
footer ul{
    list-style: none;
}
footer input{
    border-bottom: solid rgb(150 150 150) 1px;
    height: 1.5rem;
    width: 90%;
    margin-bottom: 1rem;
}
#Help{
    height: 6rem;
}
footer button{
    padding: 0.7rem 2rem;
}
.Copyright{
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
}
.Copyright span{
    padding-left: 4px;
    text-decoration: solid;
}
/*  */
/*  */
/*  */
/* #Home h2{
    animation: Developer 4s steps(8), mecanografia 0.5s 4s steps(1) 3;
} */
/*  */
/*  */
/*  */
/* @Keyframes mecanografia{
    0%{border-right:solid #222 0.4rem}
    75%{border-right:solid transparent 0.4rem}
}
@keyframes Developer {
    0%{width:0%; border-right: solid #333 0.3rem;}
    87.5%{width: 16.5rem; border-right: solid #333 0.3rem;}

} */